name: django-logikal

services:
  validator:
    image: ghcr.io/validator/validator:23.4.11
    ports: [{target: 8888}]

  postgres: &postgres
    image: postgres:14.4
    environment:
      POSTGRES_DB: dev
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev
    ports: [{target: 5432, published: 42001}]
    volumes:
      - type: volume
        source: postgres_data
        target: /var/lib/postgresql/data
    healthcheck:
      test: pg_isready --username dev --host 127.0.0.1
      interval: 3s
      timeout: 3s
      retries: 5

  postgres-static:
    <<: *postgres
    ports: [{target: 5432}]
    volumes:
      - type: volume
        source: postgres_static_data
        target: /var/lib/postgresql/data

volumes:
  postgres_data:
  postgres_static_data:
