@import url('commons.css');

.login-form-sign-up {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--length-gap-group);
  max-width: var(--length-form);

  h1 { margin-block-end: var(--length-gap-group); }
  p { text-align: center; }
  input { width: 100%; }

  .external-login {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--length-gap-subelement);
  }

  .apple-login svg {
    fill: var(--theme-color-neutral-content);
  }
}
